<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAJxwEPHA1I7P8M3F8zvY2I6iJAU4OY3-I</string>
	<key>GCM_SENDER_ID</key>
	<string>11515955897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNuCafe</string>
	<key>PROJECT_ID</key>
	<string>nucafe-b7732</string>
	<key>STORAGE_BUCKET</key>
	<string>nucafe-b7732.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11515955897:ios:0977871dca5ff5b989a968</string>
</dict>
</plist>